NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mentora-vrcf.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mentora-vrcf
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mentora-vrcf.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1079262491823
NEXT_PUBLIC_FIREBASE_APP_ID=1:1079262491823:web:b9adb2168f1ca071f2905a

GEMINI_API_KEY=your_gemini_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
ADMIN_EMAILS=suhailmobina95@gmail.com
